/* Navbar  */

.navbar-background-color{
  color: white ; 
}


/* Notification bell */
.notification-bell{
  position: relative;
}


.notification-counter{
  position: relative;
  vertical-align: top;
  /* z-index: 10; */
  margin-right: 6px;
  font-size: smaller;
}




/*  Tracking page */

.tracking-page-table{
    height: 75vh;
    max-height: 80vh;
}

.track-btn-button{
  padding-top: 0.1rem !important;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--falcon-gutter-x) * 0.5);
    padding-left: 0px !important;
    margin-top: var(--falcon-gutter-y);
  }

  .content {
    padding-bottom: 1rem !important;
  }



/* Responsive design  */

@media only screen and (max-width: 1280px){
    nav.navbar-glass.fs--1.navbar-top.navbar.navbar-expand-lg.navbar-light {
        padding: 0px 5px 0px 5px;
      }

      .container, .container-lg, .container-md, .container-sm, .container-xl{
        max-width: unset !important;
      }
      .leaflet-container {
        width: 100% !important;
        height: 85vh !important;
        z-index: 1;
    }
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: none !important;
  }

  
  }

  @media only screen and (max-width:1024px){
    .tracking-page-table{
        max-height: 60vh;
        font-size: 10px !important;
    }
    .card-header{
      padding: 5px !important;
    }
    .card-body{
      padding: 4px !important;
    }
    .card-header, .card-body{
      font-size: 10px !important;
    }


}

@media only screen and (max-width:768px){
  .card-header, .card-body{
    font-size: 10px !important;
  }
}