/* fonts  */
.nav-fonts-styles{
  font-family: 'DM Sans', sans-serif !important;
  font-weight: normal !important;
  font-size: 15px !important ;
}

/* Navbar  */
.navbar-background-color {
  color: white;
}
.navbar-font-style{
  font-weight: 0 !important;
}
/* Notification bell */
.notification-bell {
  position: relative;
}

.notification-bell-hov:hover {
  filter: invert(1);
}

.invert-hover {
  filter: invert(1); 
  transition: filter 0.1s ease;
}

.invert-hover:hover {
  filter: invert(0.8); 
}

.notification-counter {
  position: relative;
  vertical-align: top;
  margin-right: 6px;
  font-size: smaller;
}

.notification-dropdown-menu::after{
right: 42px !important;
}

/* navbar content height and width fixed */

/* Navbar icon for hover */
.dashboard-fix{
  height: 30px;
  width: 100px;
}

.nav-item .dashboard-icon{
  display: none;
  height: 40px;
  width: 35px;
}
.dashboard-image{
  height: 40px;
  width: 40px;
  margin: auto;
}
.nav-item:hover .dashboard-text{
  display: none;
}

.nav-item:hover .dashboard-icon{
  display: inline-block;
  animation:  3s ease-in smooth;
  animation-delay: 3s;
}

/* Loading animation */
.loading-animation{
  content: attr(data-text);
    white-space: nowrap;
    color: #000000;
    animation: loading 5s linear;
}

@keyframes loading {
  0% {
      max-width: 0;
  }
}



/* Bottom adjustments */
.content{
  min-height: fit-content !important;
}


/* sessionbybrowser component in AdminDashboard */
.bus-count-overview {
  max-height: 20vh !important;
}


/* Daily KM report AdminDashboard */

.dropdown-menu-height {
  max-height: 200 px; 
  overflow-y: auto; 
}
/*  Tracking page */

.tracking-page-table {
  height: 70vh;
  max-height: 79vh;
}

/* Tracking page Map container */

.tracking-page-map-container{
  max-height: 79vh !important;

}

/* Tracking table dropdown color icon */
.status-colors{
  height: 10px;
  width: 5px;
  color: red;
}
.track-btn-button {
  padding-top: 0.1rem !important;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--falcon-gutter-x) * 0.5);
  padding-left: 0px !important;
  margin-top: var(--falcon-gutter-y);
}

.content {
  padding-bottom: 1rem !important;
}

/* Responsive design  */

@media only screen and (max-width> 1280px) {
  nav.navbar-glass.fs--1.navbar-top.navbar.navbar-expand-lg.navbar-light {
    padding: 0px 5px 0px 5px;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: unset !important;
  }
  .leaflet-container {
    width: 100% !important;
    height: 75vh !important;
    z-index: 1;
  }
}
@media (min-width: 1000px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: unset !important;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: unset !important;
  }
}

@media only screen and (max-width: 1024px) {
  .tracking-page-table {
    
    font-size: 10px !important;
  }
  .card-header {
    padding: 5px !important;
  }
  .card-body {
    padding: 4px !important;
  }
  .card-header,
  .card-body {
    font-size: 10px !important;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: unset !important;
  }
}

@media only screen and (max-width: 990px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: unset !important;
  }
}

@media only screen and (max-width: 765px) {
  .card-header,
  .card-body {
    font-size: 10px !important;
  }
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: none !important;
  }
}

@media only screen and (max-width: 380px){
  #topLogo{
    margin-right: auto;
    /* height: 20px !important;
    width: 20px !important; */
  }
}